/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --accent-text-color: #000028;
  --title-color: #db00ff;
  --bg-image: url(../images/cover-image-dark.png);
  --rec-visibility: visible;
  --border-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --decor-color: #ff0070;
  --decor-shadow: #ff0070;
  --section-title-color: #ff0070;
  --link-shadow: #ff0070;
  --text-background-color: #ff0070;
}

.theme-dark .decorated-text {
  color: var(--accent-color);
}

.theme-dark .header__rec {
  visibility: var(--rec-visibility);
}
