/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --accent-color: #353430;
  --text-color: #353430;
  --accent-text-color: #353430;
  --title-color: #ffc2e6;
  --bg-image: url(../images/cover-image-light.png);
  --rec-visibility: hidden;
  --border-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);
  --decor-color: #353430;
  --decor-shadow: #ff8dcb;
  --section-title-color: #353430;
  --link-shadow: #ff8dcb;
  --text-background-color: #FF8DCB;
}

.theme-light .decorated-text {
  color: var(--accent-color);
}

.theme-light .header__rec {
  visibility: var(--rec-visibility);
}


