/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  
  
  background-attachment: fixed;
  font-family: var(--font-family);
  font-size: var(--main-font-size-d);
  line-height: var(--main-line-height-d);
  padding: var(--padding-m);
}

.header {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  min-height: 100vh;
  /* padding: 10px; */
  position: relative;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--border-color);
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  padding: 0 13px;
  height: 26px;
}

.header__theme-menu-button_active {
  border-color: var(--border-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--decor-shadow);
  align-self: center;
  line-height: 82.5%;
}

.decorated-text {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 0;
}

.decorated-text::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--decor-color);
  border-bottom: 1px solid var(--decor-color);
}

.decorated-text::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--decor-color);
  border-top: 1px solid var(--decor-color);

}

.header__rec {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--decor-color);
  top: 10px;
  right: 28px;
  text-transform: uppercase;
  visibility: var(--rec-visibility);
}

.header__rec::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decor-color);
  background-color: var(--decor-color);
}

.header__subtitle {
  align-self: center;
  width: 100%;
  background: var(--text-background-color);
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--accent-text-color);
}

.title-decor {
  background-color: var(--decor-shadow);
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 0;
}

.content__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__title {
  color: var(--section-title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.content__subtitle {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.card__title {
  background: var(--text-background-color);

  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;

  color: var(--accent-text-color);
}

.content__text-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__text {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--link-shadow);
}

.content__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  border: 1px solid var(--text-color);
}

.content__images {
  display: grid;
  gap: 10px;
}

.content__images-title {
  margin-top: 20px;
}

.content__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--decor-color);
  border-bottom: 1px solid var(--decor-color);
  bottom: 10px;
  left: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--decor-color);
  border-top: 1px solid var(--decor-color);
  top: 10px;
  right: 10px;
}

.footer {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 10px;
}

.footer__title {
  font-size: var(--title-font-size-m);
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--decor-shadow);
  line-height: 82.5%;
}


@media (min-width: 768px) {
  .page {
    padding: var(--padding-t);
  }

  .header {
    padding: 20px;
  }

  .header__title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subtitle {
    width: 50%;
    justify-self: end;
  }

  .content {
    padding: 60px 0;
    gap: 80px;
  }

  .content__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .content__title {
    grid-column: 1/2;
  }

  .content__text-block {
    grid-column: 2/3;
  }

  .content__images-title {
    grid-column: 1/3;
    margin: 0;
  }

  .content__images {
    grid-column: 1/3;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .content__images .content__image:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .content__images .content__image:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .content__images .content__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .content__images .content__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .content__images .content__image:last-child {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }

  .footer {
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .page {
    padding: var(--padding-d);
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__subtitle {
    width: 364px;
  }

  .content__section_type_two-columns {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  .content__section_type_three-columns .content__title {
    grid-column: 1/2;
  }

  .content__section_type_three-columns .content__text-block {
    grid-column: 1/2;
  }

  .content__section_type_three-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .content__images {
    grid-template-columns: repeat(3, 1fr);
  }

  .content__images .content__image:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .content__images .content__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .content__images .content__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .content__images .content__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .content__images .content__image:last-child {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}
